@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h2 class="display-4">Создание ТО/h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Работы:</div>
        <div class="col-8">
            <select id="work" name="work" class="form-control" asp-items="@(new SelectList(@ViewBag.Works,"Id", "WorkName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Количество:</div>
        <div class="col-8"><input type="text" name="count" id="count" /></div>
    </div>
    <div class="row">
        <div class="col-4">Сумма:</div>
        <div class="col-8"><input type="text" id="sum" name="sum" readonly/>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btnprimary" /></div>
    </div>
</form>

<script>
    $('#work').on('change', function () {
        check();
    });
    $('#count').on('change', function () {
    check();
    });

    function check() {
        var count = $('#count').val();
        var work = $('#work').val();
        if (count && work) {
            $.ajax({
                method: "POST",
                url: "/Home/Calc",
                data: { count: count, work: work },
                success: function (result) {
                            $("#sum").val(result);
                         }
            });
        };
    }
</script>
