@{
    ViewData["Title"] = "Time";
}
<div class="text-center">
    <h2 class="display-4">Добавление продолжительности</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Продолжительность:</div>
        <div class="col-8">
            <input type="text" name="hours" id="hours"/>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Добавить" class="btn btnprimary" /></div>
    </div>
</form>